/* LAYOUT */

body {
    max-width: 1020px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7,
h8 {
    margin-bottom: 0;
}

ul {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding-block: 1.2rem;
}

header > ul {
    display: flex;
    gap: 1.5rem;
    margin-right: -2rem;
}

.social-media-section * {
    border: none;
}

.email-subscription-form {
    display: flex;
}

.email-subscription-form * {
    padding: 0.6rem 1rem;
}

.email-subscription-form input {
    margin-right: 0;
}

.email-subscription-form button {
    margin-left: -0.4rem;
}

header input[type="email"] {
    width: 11.5ch;
    margin-left: -1rem;
    margin-right: -1rem;
}

.main-nav {
    padding: 1.2rem 1rem;
}

.main-nav ul {
    display: flex;
    justify-content: space-around;
}

#main-aside-container {
    display: grid;
    grid-template-columns: 60% 30%;
    gap: 2rem;
}

#page-left, aside {
    padding-inline: 1.5rem;
    margin-inline: auto;
}

aside {
    padding-top: 3rem;
}

#mid-section1,
#mid-section2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.latest-news-content-container,
.partner-content-container {
    display: flex;
    gap: 2rem;
}

.aside-container, 
.footer-content-container,
#mid-section1,
#mid-section2 {
    position: relative;
}

.aside-container {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    margin-bottom: 2rem;
}

footer {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    padding-block: 1.5rem;
}

.social-media-buttons-coloured {
    margin-block: 0.5rem;
    display: flex;
    gap: 0.5rem;
}

.social-media-buttons-coloured * {
    padding: 0.35rem;
}

.social-media-buttons {
    display: flex;
    gap: 2rem;
}

.social-media-buttons * {
    padding: 0.4rem;
}

.recommended {
    gap: 0
}

.recommended > * {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    padding-block: 1rem;
    margin-top: 0;
}

.recommended p {
    margin: 0;
}

.main-subscription-form {
    margin-block: 1.5rem;
}

.main-subscription-form p:first-child {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}

.main-subscription-form input {
    width: 75%;
}

.social-media-email-container {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}

.social-media-email-container > form {
    grid-column-start: span2;
}

.footer-content-container h2 {
    margin-bottom: 1rem;
}

.main-img {
    margin-block: 1rem;
}

.poll button + a {
    display: inline-block;
    margin-left: 8rem;
}

.poll button,
#mid-section2 + button {
    display: block;
    width: 90%;
    padding-block: 0.4rem;
    margin-inline: auto;
    margin-block: 0.5rem;
}

.poll li {
    padding-block: 0.5rem;
}

.poll h2 {
    margin-bottom: -1rem;
}

.tag-section {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
    margin-block: 1rem;
}

.tag-section button {
    padding: 0.3rem;
}

.social-media-section button {
    flex: 1;
    padding-block: 0.5rem;
}

.social-media-section > .container {
    display: flex;
    gap: 0.5rem;
    margin-block: 1rem;
}

.social-media-section {
    display: flex;
    flex-direction: column;
    margin-top: -1rem;
}

.main-content-section .container:nth-child(2) {
    display: flex;
    gap: 1rem;
}

#sticky-title {
    display: flex;
    gap: 7rem;
    position: fixed;
    left: 0;
    background-color: white;
    width: 100%;
    transition: all 500ms;
    z-index: 1;
}

#sticky-title > * {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#sticky-title h2 {
    font-size: 2rem;
    margin: 0;
    /* color: gradien */
}

#sticky-title.hidden {
    opacity: 0;
    top: -3rem;
}

#sticky-title.visible {
    opacity: 1;
    top: 0;
}


