/* STYLE */

img:not(main img):hover {
    filter: brightness(1.08);
    transition: filter 200ms linear;
}

img:not(main img) {
    filter: brightness(1);
    transition: filter 200ms linear;
}

#page {
    border-top: 3px solid #2d3339;
    background-color: white;
}

a,
button {
    cursor: pointer;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #393f44;
    background-color: #f1f1f1;
}


h1 {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7,
h8 {
    color: #2d3339;
}

li {
    list-style: none;
}

input,
.social-media-buttons > *,
.tag-section button {
    border: 1px solid #dddddd;
}

.subscribe-button {
    background-color: #cc3333;
    color: white;
    font-weight: bold;
    border: none;
}

.subtle-bottom-border, 
.poll li,
.recommended div {
    border-bottom: 1px solid #eeeeee;
}

aside {
    border-left: 1px solid #eeeeee;
}

aside h2,
#mid-section1 h2, 
#mid-section2 h2 {
    text-transform: uppercase;
}

aside h2::before, 
footer h2::before,
#mid-section1 h2::before,
#mid-section2 h2::before {
    position: absolute;
    top: 0.5rem;
    content:"";
    height: 2px;
    width: 3rem;
    background-color: #2d3339;
}

footer h2::before {
    background-color: white;
}

.main-nav {
    font-size: 0.9rem;
    color: #2d3339;
    font-weight: bold;
    text-transform: uppercase;
}

.social-media-buttons-coloured * {
    color: white;
    border: none;
}

.social-media-buttons > * {
    background-color: white;
}

footer,
footer h2 {
    color: white
}

.social-media-section button {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
}

.tag-section button {
    background-color: white;
    text-transform: uppercase;
    color: grey;
    font-size: 0.7rem;
}

footer,
.social-media-section > button {
    color: white;
    background-color: #2b2d32;
}

.facebook-color {
    background-color: #3b5998;
}

.whatsapp-color {
    background-color: #1ebea5;
}

.linkedin-color {
    background-color: #0077b5;
}

.envelope-color {
    background-color: #bababa;
}

.twitter-color {
    background-color: #55acee;
}

.poll form {
    font-size: 1.2rem;
}

.poll button,
#mid-section2 + button {
    background-color: white;
    border: 1px solid black;
    font-weight: bold;
    text-transform: uppercase;
}

.poll button + a {
    font-size: small;
    color: grey;
}

.next-article-section * {
    font-weight: bold;
    font-size: 1.5rem;
}

.next-article-section a {
    color: #1173b4;
}

.footer-content-container li {
    font-size: 1rem;
    color: grey;
}
