/* STYLE */

#page {
    border-top: 3px solid #2d3339;
    background-color: white;
}

a, button {
    cursor: pointer;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #393f44;
    background-color: #f1f1f1;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7,
h8 {
    color: #2d3339;
}

li {
    list-style: none;
}

input, .social-media-buttons > * {
    border: 1px solid #dddddd;
}

.subscribe-button {
    background-color: #cc3333;
    color: white;
    font-weight: bold;
    border: none;
}

.subtle-bottom-border, 
.poll li,
.recommended div {
    border-bottom: 1px solid #eeeeee;
}

aside {
    border-left: 1px solid #eeeeee;
}

aside h2 {
    text-transform: uppercase;
}

aside h2::before, 
footer h2::before,
.latest-news-content-container h2::before,
.partner-content-container h2::before {
    position: absolute;
    top: 0.5rem;
    content:"";
    height: 2px;
    width: 3rem;
    background-color: #2d3339;
}

footer h2::before {
    background-color: white;
}

.main-nav {
    font-size: 0.9rem;
    color: #2d3339;
    font-weight: bold;
    text-transform: uppercase;
}

.social-media-buttons > * {
    background-color: white;
}

footer, footer h2 {
    color: white
}

footer {
    background-color: #2b2d32;
}
